<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./lib/flexible/flexible.js"></script>
   <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
   <link rel="stylesheet" href="./css/brand.css">
  <title>manmanBuy</title>
</head>
<body>
  <div class="m_container">
   <!-- 头部  -->
  <div class="m_header clearfix">
      <div class="logo">
        <a href="index.html"><img src="./images/header_logo.png" alt=""></a>
      </div>
      <div class="app">
        <a href="#"><img src="./images/header_app.png" alt=""></a>
      </div>
 </div>

  <!-- 搜索框 -->
  <div class="m_search_box">
      <div class="ipt fl">
         <input type="text" placeholder="请输入您想比价的商品">
      </div>
      <div class="btn fr">
       <input type="button" value="搜索">
      </div>
  </div>

<!-- 路径导航 -->
<div class="m_path_nav">
    <a href="index.html">首页</a>
    <span>&gt;</span>
    <a href="brandTitle.html">全部分类</a>
    <span>&gt;</span>      
    <a href="javascript:void(0)" class="now"></a>  
</div>

  <!-- 哪个牌子好 -->
  <div class="m_brand_good">
      <div class="rank_title">
          <span>平板电视</span>哪个牌子好
      </div>
       <ul class="good_box">
       
         <li>
           <a href="javascript:void(0);">
              <div class="brank fl"><span></span></div>
              <div class="desc">
                 <h4>电视哪个哈哈好那个号那个号</h4>
                 <p>30天全网销售：3493593件</p>
              </div>
           </a>
          </li>
         <li>
           <a href="javascript:void(0);">
              <div class="brank fl"><span>1</span></div>
              <div class="desc">
                 <h4>电视哪个哈哈好那个号那个号</h4>
                 <p>30天全网销售：3493593件</p>
              </div>
           </a>
          </li>
       </ul>
  </div>
  <!-- 销量排行 -->
  <div class="m_brand_rank">
     <div class="rank_title">
          <span>平板电视</span>销量排行
    </div>
    <ul class="rank_box">        
        <li>
          <a href="javascript:void(0);">
             <div class="img_box fl"><img src="./images/360.png" alt=""></div>
             <div class="desc">
                <h4>电视哪个哈哈好那个号那个号</h4>
                <p><span class="price colRed">￥1998</span>                  
                   <span class="star fr "></span>
                </p>
                <p>30天全网销售：3493593件</p>
             </div>
          </a>
         </li>       
        <li>
          <a href="javascript:void(0);">
             <div class="img_box fl"><img src="./images/360.png" alt=""></div>
             <div class="desc">
                <h4>电视哪个哈哈好那个号那个号</h4>
                <p><span class="price colRed">￥1998</span>                  
                   <span class="star fr "></span>
                </p>
                <p>30天全网销售：3493593件</p>
             </div>
          </a>
         </li>       
      </ul>
  </div>
  <!-- 评论排行 -->
  <div class="m_brank_comment">
      <div class="rank_title">
          <span>平板电视</span>最新评论
     </div>
     <ul class="rank_box">
        <li>
          <a href="javascript:void(0);" class="product">
             <div class="img_box fl"><img src="./images/tv.png" alt=""></div>
             <div class="desc">
                <h4>乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视</h4>             
             </div>
          </a>
          <div class="com_content">
              <div class="com_title clearfix">
                  <div class="triangle"></div>
                 <span  class="user fl">18293479331</span>
                 <span  class="star fl"></span>
                 <span  class="fr">2016/12/12</span>
                 
              </div>
              <p >                   
                  使用了一周整体不错，主要是为了看纪录片和足球。装在窗户上有种大鱼缸的感觉哈！清晰度不错色彩也可以，应该说对得起2200的价格！还送了五年乐视会员，看英超所有比赛都free，但乐观乐视内容这块还不太丰富，应为家里也有百事通bestv和小米盒子，比较了下，电影百事通最好，纪录片小米最好，只有体育这块乐视比那两家好，还要多努力啊！电视本身有个不足，音响太差，太山寨了！而且不支持3.5mm接口或红白莲音频输出，害得我折腾半天，必须买光纤音频线
             </p>
           
          </div>

         </li>     
        <li>
          <a href="javascript:void(0);" class="product">
             <div class="img_box fl"><img src="./images/tv.png" alt=""></div>
             <div class="desc">
                <h4>乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视</h4>             
             </div>
          </a>
          <div class="com_content">
              <div class="com_title clearfix">
                  <div class="triangle"></div>
                 <span  class="user fl">18293479331</span>
                 <span  class="star fl"></span>
                 <span  class="fr">2016/12/12</span>
                 
              </div>
              <p >                 
          如果再给一次选择肯定会在它自家商城买，乐视商城是2041LG屏好东西果然留给自己，这里的基本是fa2001型号友达屏，右下角有一个坏点，在全黑屏下有一些不明显的白斑，正常使用不影响就没有换，真正有影响的是音响效果，我外接一个几十元的蓝牙小音响都比自带的强多了，和之前的sharp电视无法比，系统刚开机会很卡，开机上个厕所回来就差不多吧，2238单是硬件已经没有优势，乐视会员也很鸡肋，按60元一年，5年会员就折300，勉强可以接受，还有9个月体育会员送        
             </p>           
          </div>

         </li>     
        <li>
          <a href="javascript:void(0);" class="product">
             <div class="img_box fl"><img src="./images/tv.png" alt=""></div>
             <div class="desc">
                <h4>乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视</h4>             
             </div>
          </a>
          <div class="com_content">
              <div class="com_title clearfix">
                  <div class="triangle"></div>
                 <span  class="user fl">18293479331</span>
                 <span  class="star fl"></span>
                 <span  class="fr">2016/12/12</span>
                 
              </div>
              <p >                
          关注乐视智能电视很长一段时间了，这次买了套新小房，本人未加思考，果断买了乐视超级电视50寸（房子小，否则买大些的），到货很快，预约师傅上门安装，安装师傅很细心负责，量好尺寸，安装好挂架，注册账号，调试，经一个晚上的研究，发现智能电视就是不一样，本人的宽带为移动20M，有线连接，观看特流畅，画面清晰，还送了30个月看片权根，然让人失望的是不能看直播，后来下载一个电视软件，终于解决了这个问题，此外，该电视还能通过远程管理与身边的手机，平板进行WIFI连接，浏览手机，平板存放里的视频和照片，真是太喜欢了，50寸的电视薄而轻，性价比特高，真的值得拥有，乐视我爱死你了，望你们发扬光大，强我民族，为国争光。
               </p>
           
          </div>

         </li>     
      </ul>
  </div>

  <!-- 尾部 -->
   <div class="m_footer">
      <div class="top clearfix">
        <a href="#" class="fl">登录</a>
        <a href="#" class="fl register">注册</a>
        <a href="#" class="fl">返回顶部</a>
      </div>
      <div class="bottom">
          <p class="downApp clearfix ">
              <a href="#" class="colRed">手机APP下载 &nbsp;</a>
              <a href="#">&nbsp;慢慢买手机版&nbsp;</a>
              <a href="#" class="col666">&nbsp;--掌上比价平台</a>
          </p>       
          <p class="col666 link">m.manmanbuy.com</p>
   </div>  
   </div>

   <!-- 1--十大品牌 -->
   <script type="text/html" id="brandTmp">
    {{ each result v i }}
    <li data-brandTitleId="{{ v.brandTitleId }}" data-categoryId="{{ v.categoryId}}">
        <a href="javascript:void(0);">
           <div class="brank fl">
             <% if (i == 0 ){%>
             <span style=" background-color: #ff2f21;">{{ i+1 }}</span>
             <%} else if (i == 1){%>
             <span style=" background-color: #FF9F00;">{{ i+1 }}</span>
             <% }else if ( i  == 2){%>
             <span style=" background-color: #8EFF48;">{{ i+1 }}</span>
             <% }else{%>
             <span style=" background-color: #999;">{{ i+1 }}</span>
             <% } %>
            </div>
           <div class="desc">
              <h4>{{ v.brandName }}</h4>
              <p>{{ v.brandInfo }}</p>
           </div>
        </a>
     </li>
    {{ /each }}
   </script>

   <!-- 2-销量排行 -->
   <script type="text/html"  id="rankTmp">
   {{ each result v  i }}
   <li class="rank_box" data-productId="{{ v.productId }}">
      <a href="javascript:void(0);">
         <div class="img_box fl">{{@v.productImg }}</div>
         <div class="desc">
            <h4>{{ v.productName }}</h4>
            <p><span class="price colRed">{{ v.productPrice }}</span>                  
               <span class="star fr "></span>
            </p>
            <p>{{ v.productQuote }}&nbsp;&nbsp;{{v.productCom}}</p>
         </div>
      </a>
     </li>       
   {{ /each }}
  </script>

  <!-- 3-评论  -->
  <script type="text/html" id="commentTmp">  
   {{ each list v i }}  
  <ul class="rank_box">
    <li>
      <a href="javascript:void(0);" class="product">
         <div class="img_box fl"><img src="./images/tv.png" alt=""></div>
         <div class="desc">
            <h4>电视哪个哈哈好那个号那个号</h4>             
         </div>
      </a>
      <div class="com_content">
          <div class="com_title clearfix">
              <div class="triangle"></div>
             <span  class="user fl">{{ v.comName }}</span>
             <span  class="star fl"></span>
             <span  class="fr">{{ v.comTime}}</span>
             
          </div>
          <p>{{ v.comContent }}</p>
       
      </div>

     </li>     
  </ul>
   {{ /each }}
  </script>
   
 </div>
 <script src="./lib/jquery/jquery.min.js"></script>
<script src="./lib/artTemplate/template-web.js"></script>
<script src="./js/common.js"></script>
<script src="./js/brand.js"></script>
</body>
</html>